main>h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main>div {
    margin: var(--spacer) 3em 0em 3em;
}

/****************/
/* sidebar nav */
/**************/

main > div{
    display: flex;
}

main > div > aside{
    position: sticky;
    position: -webkit-sticky;
    top: 5em;
    height: 80vh;
    width: 40vw;
    display: flex;
    align-items: center;
}

main > div > aside nav ul li a{
    transition: 0.3s;
    will-change: transform;
    background-image:
        linear-gradient(to left,
            var(--txt-clr) 50%,
            var(--primary-clr) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 0.3s;

    text-align: left;
    padding: 0em;
    margin: 0em 0em var(--spacer-md) 0em;
    width: max-content;
}

main > div > aside nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--primary-clr);
    bottom: -0.2em;
    left: 0;
    transform-origin: right;
    transform: scaleX(0) rotate(-2deg);
    transition: transform .3s ease-in-out;
    will-change: transform;
    color: var(--primary-clr);
}

main > div > aside nav ul li a:hover,
main > div > aside nav ul li a:focus,
main > div > aside nav ul li a.focused {
    background-position: left bottom;
}

main > div > aside nav ul li a:hover::before,
main > div > aside nav ul li a:focus::before,
main > div > aside nav ul li a.focused::before {
    transform-origin: left;
    transform: scaleX(1) rotate(-2deg);
}

/***********************/
/* Right left columns */
/*********************/

main > div > div{
    margin-left: var(--spacer-lg);
}

main > div > div > section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacer-lg);
}

main > div > div > section h2{
    margin: 0em;
}





/*******************/
/* Inside content */
/*****************/

main > div > div > section > h2{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}



/* First column */


main > div > div > section:first-of-type > section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
}


main > div > div > section:first-of-type > section:nth-of-type(1) h2:not(strong){
    font-size: var(--fs-6);
    line-height: 1;
}

main > div > div > section:first-of-type > section:nth-of-type(1) h2 strong{
    font-weight: 800;
    font-size: clamp(4rem, 1.4286rem + 11.4286vw, 6rem);
    padding-top: 20em;
}

main > div > div > section:first-of-type > section:nth-of-type(1) p{
    font-size: var(--fs-p-bg);
}



main > div > div > section:first-of-type > section:nth-of-type(2){
    display: flex;
    align-items: center;
}


main > div > div > section:first-of-type > section:nth-of-type(2) img{
    width: 100%;
    animation: float 3s ease-in-out infinite;
}


@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

main > div > div > section:first-of-type > section:nth-of-type(2) h3{
    font-size: var(--fs-6);
    margin: 1em 0em 0em 0em;
}

main > div > div > section:first-of-type > section:nth-of-type(2) p{
    font-size: var(--fs-p-sm);
}




/* Second column */

main > div > div > section:nth-of-type(2){
    margin: 0em 2em;
    padding-top: 4em;

}

main > div > div > section:nth-of-type(2) section{
    margin: 2em;
}


main > div > div > section:nth-of-type(2) > section:nth-of-type(1) h3{
    font-size: var(--fs-6);
}


main > div > div > section:nth-of-type(2) > section:nth-of-type(2){
    display: flex;
    align-items: end;
}



/* Passion column */

main > div > div > section:nth-of-type(3){    
    padding-top: 4em;
}

main > div > div > section:nth-of-type(3) > section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
}


main > div > div > section:nth-of-type(3) > section:nth-of-type(2) h3{
    font-size: var(--fs-6);
}


main > div > div > section:nth-of-type(3) > section:nth-of-type(1) img{
    display: flex;
    align-items: end;
    width: 100%;
}



/* Things i like > pictures column */

main > div > div > section:nth-of-type(4){
    margin: 5em;
    margin-bottom: var(--spacer);
    padding: 4em 0em;
}


main > div > div > section:nth-of-type(4) h3{
    font-size: var(--fs-6);
    margin-top: -1em;
}


main > div > div > section:nth-of-type(5) img{
    width: 100%;
}



/* Awards table column */


main > div > div > section:nth-of-type(6){
    display: grid;
    grid-template-columns: 1fr;   
    padding-top: 4em; 
}

main > div > div > section:nth-of-type(6) section{
    place-self: center;
    width: 70vw;
}

main > div > div > section:nth-of-type(6) section h2{
    font-size: clamp(2rem, 0.6364rem + 5.8182vw, 5rem);
}

table{
    width: max-content;
    border-collapse: collapse;
    place-self: center;
    margin-top: var(--spacer-lg);
}

table tbody tr td{
    padding: 1em 0em;
}

table tbody tr td:nth-of-type(2){
    padding-left: 2em
}

table tbody tr td:first-of-type{
    font-size: var(--fs-p-sm);
}

table tbody tr td span{
    font-style: italic;
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--grey-tint1);
}

table tbody tr{
    border-top: 1px solid var(--txt-clr);
}



/* Dreams column */

main > div > div > section:nth-of-type(7){
    padding-top: 4em;
    margin-top: 4em;
}

main > div > div > section:nth-of-type(7) section h3{
    margin: 0em;
    font-size: clamp(2rem, 1.5455rem + 1.9394vw, 3rem);
}

main > div > div > section:nth-of-type(7) section:nth-of-type(2) ul li{
    margin-bottom: .3em;
    font-family: var(--ff);
    color: var(--txt-clr);
    font-size: var(--fs-p);
    font-weight: var(--fw-n);
}

main > div > div > section:nth-of-type(7) section:nth-of-type(2) ul li::before {
    content: "\25AA";
    color: var(--primary-clr);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    border-radius: 0em;
  }




/*******************/
/* MEDIA QUERIES */
/*****************/

/* MAX WIDTH: 1600PX */

@media only screen and (max-width: 1250px) {
    main > div > div > section:nth-of-type(6) section{
        width: 100%;
    }

    table{
        width: auto;
    }
}


/* MAX WIDTH: 1150PX */


@media only screen and (max-width: 1150px) {
    main > div{
        flex-direction: column;
    }

    main > div > aside{
        height: max-content;
        width: max-content;
        z-index: 100000;
    }

    main > div > aside nav ul{
        display: flex;
        gap: 1.5em;
    }

    main > div > aside > nav > ul{
        overflow: scroll;
        width: 90vw;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    main > div > aside > nav > ul::-webkit-scrollbar {
        display: none;
      }

    main > div > div{
        margin-left: 0em;
    }
}



/* MAX WIDTH: 900PX */

@media only screen and (max-width: 900px) {
    main > div {
        margin: var(--spacer-xl) 1em;
        margin-top: 0em;
    }

    main > div > aside > nav > ul{
        width: 95vw;
    }

}



/* MIN WIDTH: 850PX */


@media only screen and (max-width: 850px) {
    main > div > div > section{
        grid-template-columns: 1fr;
    }
    
    main > div > div > section h2{
        margin: 0em;
    }

    main > div > div > section:nth-of-type(2){
        margin: 0em 0em 2em 0em;
    }

    main > div > div > section:nth-of-type(2) section{
        margin: 0em;
    }

    main > div > div > section:nth-of-type(4){
        margin: 0em;
    }

    main > div > div > section:nth-of-type(5){
        grid-template-columns: 1fr 1fr;
        gap: 1em
    }

}
