main>h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* The brain */

main>img {
    position: fixed;
    z-index: -100;
    height: 80vh;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.6s ease-in-out;
    will-change: transform;
}



.video {
    padding: var(--spacer-xl) 3em;
}


/**************************/
/* PORTFOLIO WORK PIECES */
/************************/


main>section:nth-of-type(1) {
    margin: var(--spacer-xl) 3em;
    position: relative;

}

/* Hide title*/
main>section:nth-of-type(1)>h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Containing all the pieces of 1 project */

main>section:nth-of-type(1) section a {
    overflow: hidden;
    position: relative;
    width: max-content;
    display: inline-block;
    animation: float 3s ease-in-out infinite;
    margin-top: -20em;
    border-radius: 2em;
}

main>section:nth-of-type(1) section:first-of-type a {
    margin-top: -10em;
}


/* Intersection observer */

.hidden {
    opacity: 0;
    transform: translateX(0em) scale(0);
    transition: opacity .5s ease-in-out, transform 1s ease-in-out, filter 1s ease-in-out;
    will-change: transform;
    filter: blur(5em);
}

.visible {
    opacity: 1;
    transform: translateX(0em) scale(1);
    filter: blur(0);
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

/* container for the image */
main>section:nth-of-type(1) section a div:first-of-type {
    position: relative;
    background-color: #171614;
    border-radius: 2em;
    width: 45vw;
    height: 0vh;
    padding-bottom: 44vw;
}

main>section:nth-of-type(1) section a div:first-of-type img, 
main>section:nth-of-type(1) section a div:first-of-type video {
    border-radius: 2em;
    transition: 0.6s ease-in-out;
    will-change: transform;
    width: 45vw;
    height: 45vw;
    object-fit: cover;
}

/* container for the intel inside */
main>section:nth-of-type(1) section a div:last-of-type {
    position: absolute;
    bottom: 0;
    padding: var(--spacer-md);
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    display: inline-block;
    transition: 0.6s ease-in-out;
    will-change: transform;
}

/* Inside the container with all the intel */
main>section:nth-of-type(1) section a div:last-of-type h3 {
    margin: 0em;
    padding: 0em;
    color: #FFFBF4;
    font-size: clamp(2rem, 0.2143rem + 5.7143vw, 4.5rem);
}

main>section:nth-of-type(1) section a div:last-of-type h4 {
    color: #FFFBF4;
    margin: 0em;
    padding: 0em;
}


main>section:nth-of-type(1) section a div:last-of-type cite {
    color: #FFFBF4;
    background-color: var(--primary-clr);
    padding: .3em 1em;
    border-radius: 1em;
    margin-top: 1em;
    display: inline-block;
    font-style: normal;
}


/* hover over section */

main>section:nth-of-type(1) section a:hover div:last-of-type,
main>section:nth-of-type(1) section a:focus div:last-of-type {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

main>section:nth-of-type(1) section a:hover div:first-of-type img,
main>section:nth-of-type(1) section a:focus div:first-of-type img,
main>section:nth-of-type(1) section a:hover div:first-of-type video,
main>section:nth-of-type(1) section a:focus div:first-of-type video {
    opacity: .2;
}


main>section:nth-of-type(1) section a:focus div:last-of-type {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

main>section:nth-of-type(1) section a:focus div:first-of-type img,
main>section:nth-of-type(1) section a:focus div:first-of-type video {
    opacity: .2;
}




/* Right projects */

main>section:nth-of-type(1) .rightProject {
    width: calc(100vw - 6em);
    display: flex;
    justify-content: end;
    margin: 0em;
}

main>section:nth-of-type(1) .rightProject a,
section:nth-of-type(2) .rightProject img, 
section:nth-of-type(2) .rightProject video {
    width: max-content;
}

main>section:nth-of-type(1) .rightProject a {
    width: max-content;
}



/* Button to all projects */
main>section:nth-of-type(1) div {
    display: flex;
    justify-content: center;
    margin-top: var(--spacer-md);
}

main>section:nth-of-type(1) div .bordera {
    width: max-content;
    border-color: var(--txt-clr);
}

main>section:nth-of-type(1) div .bordera:hover,
main>section:nth-of-type(1) div .bordera:focus {
    border-color: var(--txt-clr);
    margin-bottom: 2em;
}

main>section:nth-of-type(1) div .bordera a {
    background-color: var(--txt-clr);
    color: var(--bg-color);
}



main>section:nth-of-type(1) div .bordera a img,
main>section:nth-of-type(1) div .bordera a video {
    width: 12%;
    mix-blend-mode: difference;
}


/**************************/
/* ABOUT ME INSIDE INDEX */
/************************/

main>section:last-of-type {
    display: flex;
    justify-content: center;
}


main>section:last-of-type>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    background-color: var(--txt-clr);
    padding: var(--spacer-lg);
    border-radius: 2em;
}

main>section:last-of-type>div h2 {
    color: var(--bg-color);
    font-size: var(--fs-4);
    text-align: center;
    margin: 0em;
}



main>section:last-of-type>div p {
    color: var(--bg-color);
    font-weight: var(--fw-t);
    text-align: center;
    margin-bottom: var(--spacer-md);
}

main>section:last-of-type>div .bordera {
    width: max-content;
    border-color: var(--bg-color);
}

main>section:last-of-type>div .bordera a {
    background-color: var(--bg-color);
    color: var(--txt-clr);
}

main>section:last-of-type>div .bordera a img {
    width: 1.7em;
    margin-right: -0.1em;
    mix-blend-mode: difference;
    transition: 0.3s ease-in-out;
    will-change: transform;
}

main>section:last-of-type>div .bordera a:hover img,
main>section:last-of-type>div .bordera a:focus img {
    transform: rotate(20deg);
}






/*******************/
/* MEDIA QUERIES */
/*****************/

/* FOR TOUCHSCREEN */

@media (hover: none) {
    main>section:nth-of-type(1) section a div:last-of-type {
        position: absolute;
        bottom: 0;
        padding: var(--spacer-md);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        display: inline-block;
        transition: 0.6s ease-in-out;
        will-change: transform;
        background: linear-gradient(0deg, #171614 0%, rgba(0, 0, 0, 0) 100%);
        width: 100%;
    }

    main>section:nth-of-type(1) section a div:last-of-type h3 {
        color: #FFFBF4;
    }

}

/* MAX WIDTH: 1325px */

@media only screen and (max-width: 1325px) {
    main>section:nth-of-type(1) section a {
        margin-top: -17em;
    }

    main>section:nth-of-type(1) section a div:last-of-type h3 {
        font-size: clamp(1.8rem, 0.2286rem + 5.0286vw, 4rem);
    }
}

/* MAX WIDTH: 1100PX */


@media only screen and (max-width: 1100px) {
    main>section:nth-of-type(1) section a div:first-of-type {
        width: 43vw;
        padding-bottom: 42vw;
    }

    main>section:nth-of-type(1) section a div:first-of-type img,
    main>section:nth-of-type(1) section a div:first-of-type video {
        width: 43vw;
        height: 43vw;
    }

    main>section:nth-of-type(1) section a {
        margin-top: -12em;
    }

    main>section:nth-of-type(1) section a div:last-of-type h4 {
        font-size: var(--fs-5);

    }


    main>section:nth-of-type(1) section a div:last-of-type cite {
        font-size: 1em;
    }

    main>section:last-of-type>div {
        width: 90.5vw;
    }
}


/* MAX WIDTH: 900PX */

@media only screen and (max-width: 900px) {
    main>img {
        height: 60vh;
        top: 50%;
    }

    main>section:nth-of-type(1) {
        margin: var(--spacer-xl) 1em;
    }

    main>section:nth-of-type(1) .rightProject {
        width: calc(100vw - 3em);
    }

    main>section:nth-of-type(1) section a div:first-of-type {
        width: 45vw;
        padding-bottom: 44vw;
    }

    main>section:nth-of-type(1) section a div:first-of-type img,
    main>section:nth-of-type(1) section a div:first-of-type video {
        width: 45vw;
        height: 45vw;
    }

    main>section:last-of-type>div {
        width: 96vw;
    }


}




/* MAX WIDTH: 750PX */


@media only screen and (max-width: 750px) {
    main>img {
        height: 40vh;
    }

    main>section:nth-of-type(1) section a div:first-of-type {
        width: 92vw;
        padding-bottom: 91vw;

    }

    main>section:nth-of-type(1) section a div:first-of-type img,
    main>section:nth-of-type(1) section a div:first-of-type video {
        width: 92vw;
        height: 92vw;
    }

    main>section:nth-of-type(1) section a {
        margin-top: var(--spacer);
    }

    main>section:nth-of-type(1) .rightProject {
        width: calc(100vw - 1.9em);
    }


    main>section:nth-of-type(1) section a div:last-of-type cite {
        display: none;
    }

}


/* MAX WIDTH: 650PX */

@media only screen and (max-width: 650px) {
    main>section:last-of-type>div {
        width: 95vw;
        flex-direction: column;
    }
}




/* MAX WIDTH: 450PX */

@media only screen and (max-width: 450px) {
    main>img {
        height: 37vh;
    }

    main>section:last-of-type>div {
        width: 93vw;
    }
}