main>h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* ARROWS UNDER IMG */

main li>a img{
    mix-blend-mode: difference;
    width: 1em;
    margin-left: .5em;
    position: absolute;
    bottom:20%;
    left: 100%;
    transition: .3s ease-in-out;
}

main li>a:hover img{
    bottom: 40%;
    left: 102%;;
}


/*******************************/
/* STANDARD CASE INFO LAY OUT */
/*****************************/


/* ALL THE INSIDE SECTIONS GRID */

main>section:not(.video){
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacer-lg);
    margin: var(--spacer-xl) 0em;
}


/* FIRST SECTION */

main>div>a span{
    margin-right: 1em;
    transition: .3s ease-in-out;
}

main>div>a:hover span{
    margin-left: -.5em;
}

main>section:first-of-type{
    margin: var(--spacer) 3em!important;
}

main>section:first-of-type>section:first-of-type>img{
    width: 100%;
    border-radius: 1em;
}

main>section:first-of-type section:first-of-type ul{
    display: flex;
    gap: var(--spacer-lg);
    margin-top: var(--spacer);
}

main>section:first-of-type section:first-of-type ul li{
    font-family: var(--ff);
    display: flex;
    flex-direction: column;
    color: var(--primary-clr);
}




main>section:first-of-type section:nth-of-type(2) h2{
    margin: 0em;
    font-size: clamp(3rem, 2.0909rem + 3.8788vw, 5rem);
}

main>section:first-of-type section:nth-of-type(2) p{
    font-size: calc(var(--fs-p-bg)*1.5);
}

main>section:first-of-type section:nth-of-type(2){
    margin: var(--spacer-lg);
}


/* ABOUT/MY PART SECTION */

.two-columns{
    margin: var(--spacer-xl) 15.7%!important;
}

.two-columns section{
    margin: 1em;
}


.two-columns section h3{
    font-size: var(--fs-5);
    margin: 0em;
}

.two-columns section img, .two-columns section video{
    width: 100%;
    border-radius: var(--spacer);
}

.two-columns section ul{
    padding-left: 1em;
}

.two-columns section ul li{
    font-size: var(--fs-p);
    font-family: var(--ff);
    list-style-type: square;
}


.wheelchair{
    animation: wheelie 3s ease-in-out infinite;
}


@keyframes wheelie {
    0% {
        transform: translatex(0px) rotate(-20deg) translateY(0px);
    }

    40% {
        transform: translatex(-60px) rotate(10deg) translateY(-30px);
    }

    60% {
        transform: translatex(-60px) rotate(10deg) translateY(-30px);
    }

    100% {
        transform: translatex(0px) rotate(-20deg) translateY(0px);
    }
}


/* BIG IMG/VIDEO SECTION */

.video{
    padding: 0em 3em;
    display: flex;
    justify-content: center;
}

.video video, .video img{
    width: 100%;
    border-radius: var(--spacer);
}


#robin-ipad{
    display: flex;
    justify-content: center;
    margin-top: var(--spacer-lg);
}

#robin-ipad img{
    width: 40%;
}

.gamesense-vid{
    width: 80%!important;
    text-align: center;
}

.ui-gs{
    margin-top: var(--spacer-lg);
}

/* 2 IMG SECTION */


.two-img{
    display: flex!important;
    flex-direction: row;
    gap: 0em!important;
}

.two-img img, video{
    width: 50%;
    height: max-content;
}



/* MORE PROJECTS */


.more-projects{
    margin: var(--spacer-xl) 3em!important;
    position: relative;
}

.more-projects>h2{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-size: var(--fs-5);
}

.more-projects img{
    width: 100%;
}


/* Containing all the pieces of 1 project */

.more-projects section a {
    overflow: hidden;
    position: relative;
    width: max-content;
    display: inline-block;
    animation: float 3s ease-in-out infinite;
    border-radius: 2em;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

/* container for the image */
.more-projects section a div:first-of-type {
    position: relative;
    background-color: var(--txt-clr-hds);
    border-radius: 2em;
    width: 45vw;
    height: 0vh;
    padding-bottom: 44vw;
}

.more-projects section a div:first-of-type img {
    border-radius: 2em;
    transition: 0.6s ease-in-out;
    will-change: transform;
    width: 45vw;
    height: 45vw;
    object-fit: cover;
}

/* container for the intel inside */
.more-projects section a div:last-of-type {
    position: absolute;
    bottom: 0;
    padding: var(--spacer-md);
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    display: inline-block;
    transition: 0.6s ease-in-out;
    will-change: transform;
}

/* Inside the container with all the intel */
.more-projects section a div:last-of-type h3 {
    margin: 0em;
    padding: 0em;
    color: var(--bg-color);
    font-size: clamp(2rem, 0.2143rem + 5.7143vw, 4.5rem);
}


.more-projects section a div:last-of-type cite {
    color: #FFFBF4;
    background-color: var(--primary-clr);
    padding: .3em 1em;
    border-radius: 1em;
    margin-top: 1em;
    display: inline-block;
    font-style: normal;
}


/* hover over section */

.more-projects section a:hover div:last-of-type {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.more-projects section a:hover div:first-of-type img {
    opacity: .2;
}


.more-projects section a:focus div:last-of-type {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.more-projects section a:focus div:first-of-type img {
    opacity: .2;
}





/*******************/
/* MEDIA QUERIES */
/*****************/

/* FOR TOUCHSCREEN */

@media (hover: none) {
    .more-projects section a div:last-of-type {
        position: absolute;
        bottom: 0;
        padding: var(--spacer-md);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        display: inline-block;
        transition: 0.6s ease-in-out;
        will-change: transform;
        background: linear-gradient(0deg, #171614 0%, rgba(0, 0, 0, 0) 100%);
        width: 100%;
    }

}

/* MAX WIDTH: 1325px */

@media only screen and (max-width: 1325px) {
    .more-projects section a div:last-of-type h3 {
        font-size: clamp(1.8rem, 0.2286rem + 5.0286vw, 4rem);    
    }
}

/* MAX WIDTH: 1100PX */


@media only screen and (max-width: 1100px) {
    .more-projects section a div:first-of-type {
        width: 43vw;
        padding-bottom: 42vw;
    }

    .more-projects section a div:first-of-type img {
        width: 43vw;
        height: 43vw;
    }

    .more-projects section a div:last-of-type cite {
        font-size: 1em;
    }
}

/* MAX WIDTH: 900PX */

@media only screen and (max-width: 900px) {
    main>section:not(.video){
        margin: var(--spacer-lg) 0em;
    }

    main>section:first-of-type{
        margin: var(--spacer-lg) 1em!important;
        grid-template-columns: 1fr;
    }

    main>section:first-of-type>section:first-of-type{
        order: 2;
        margin: 0em
    }

    main>section:first-of-type>section:nth-of-type(2){
        margin: 0em
    }

    main > section:first-of-type section:nth-of-type(2) p{
        margin-bottom: 0em;
    }

    .two-columns{
        margin: var(--spacer-lg) 7%!important;
    }

    .video{
        padding: 0em 1em;
    }

    .more-projects{
        margin: var(--spacer-lg) 1em!important;
    }

    .more-projects {
        margin: var(--spacer-xl) 1em;
    }

    .more-projects .rightProject {
        width: calc(100vw - 3em);
    }

    .more-projects section a div:first-of-type {
        width: 45vw;
        padding-bottom: 44vw;
    }

    .more-projects section a div:first-of-type img {
        width: 45vw;
        height: 45vw;
    }

    #robin-ipad img{
        width: 100%;
    }
    
    .gamesense-vid{
        width: 100%!important;
    }

}



/* MAX WIDTH: 750PX */


@media only screen and (max-width: 750px) {
    .more-projects{
        grid-template-columns: 1fr !important;
    }

    .more-projects h2{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .more-projects section{
        grid-column-start: 1;
        grid-column-end: 2;
    }


    .more-projects section a div:first-of-type {
        width: 92vw;
        padding-bottom: 91vw;

    }

    .more-projects section a div:first-of-type img {
        width: 92vw;
        height: 92vw;
    }

    .more-projects section a {
        margin-top: var(--spacer);
    }

    .more-projects .rightProject {
        width: calc(100vw - 1.9em);
    }


    .more-projects section a div:last-of-type cite {
        display: none;
    }

}





/* MIN WIDTH: 650PX */


@media only screen and (max-width: 650px) {
    .two-columns{
        margin: var(--spacer-lg) 1em!important;
        grid-template-columns: 1fr!important;
    }

    .two-columns h3{
        display: none;
    }
}



