/* The brain */

main > img{
    position: fixed;
    z-index: -100;
    height: 90vh;
    top: 50%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.6s ease-in-out;
}

.scrollbrain{
    left: 50%;
    height: 85vh;
    top: 60%;
}

.bottom{
    position: absolute;
    bottom: 8em;
    left: 3em;
    right: 3em;
}



main > section:first-of-type{
    padding: 0% 3em;
    height: 100vh;
    position: relative;
}

main > section:first-of-type > section{
    position: absolute;
    bottom: 5em;
}

section:first-of-type h1{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


section:first-of-type h2{
    font-size: clamp(4rem, 1.4286rem + 11.4286vw, 10rem);    
    margin: 0em 0em 0.2em 0em;
    width: 80%;
}


section:first-of-type > section{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: end;
}


section:first-of-type > section ul{
    display: flex;
    flex-direction: column;
    display: inline-block;
}


section:first-of-type > section ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section:first-of-type > section ul li h3{
    font-size: var(--fs-5); 
    margin: 0em;
    font-weight: 300;
}

section:first-of-type > section h3{
    font-size: var(--fs-5); 
    font-family: var(--ff-hdr);
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 100%;
}

section:first-of-type > section h3 span:nth-of-type(2n){
    display: flex;
    align-items: end;
    margin-left: 0.5em;
}


section:first-of-type > section h3 span:nth-of-type(1), section:first-of-type > section h3 span:nth-of-type(3){
    text-align: right;
}

section:first-of-type > section h3 span:nth-of-type(1){
    animation: under 10s infinite;
    position: relative;
}

section:first-of-type > section h3 span:nth-of-type(3){
    animation: up 10s infinite;
    position: relative;
}

@keyframes up {
    0% { top: 0%; transform: perspective(500px) translateZ(0px); filter: blur(0rem);}
    40% { top: 0%; transform: perspective(500px) translateZ(0px); filter: blur(0rem);}
    45% { transform: perspective(500px) translateZ(100px); filter: blur(0.2rem);}
    50% { top: -100%; transform: perspective(500px) translateZ(0px); filter: blur(0rem);}

    90% { top: -100%; transform: perspective(500px) translateZ(0px); filter: blur(0rem);}
    95% { transform: perspective(500px) translateZ(100px); filter: blur(0.2rem);}
    100% { top: 0%; transform: perspective(500px) translateZ(0px); filter: blur(0rem);}
  }


@keyframes under {
    0% { top: 0%; transform: perspective(500px) translateZ(0px); filter: blur(0rem);}
    40% { top: 0%; transform: perspective(500px) translateZ(0px); filter: blur(0rem);}
    45% { transform: perspective(500px) translateZ(-100px); filter: blur(0.2rem);}
    50% { top: 100%; transform: perspective(500px) translateZ(0px); filter: blur(0rem);}

    90% { top: 100%; transform: perspective(500px) translateZ(0px); filter: blur(0rem);}
    95% { transform: perspective(500px) translateZ(-100px); filter: blur(0.2rem);}
    100% { top: 0%; transform: perspective(500px) translateZ(0px); filter: blur(0rem);}
}



section:first-of-type > section section{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 5.5%;
    transition: 0.6s ease-in-out;
}


section:first-of-type > section section > a:not(:first-child){
    padding: 0em;
    background-color: transparent;
    color: var(--txt-clr);
}


section:first-of-type > section section > a{
    font-family: var(--ff);
    text-transform: lowercase;
    font-size: 1.2em;

}

section:first-of-type > section section > a:first-of-type{
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

section:first-of-type > section section > p{
    margin: 0em;
}

section:first-of-type > section section > p > span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 1em;
    background-color: rgb(0, 232, 23);
    margin-right: .5em;
}


.left, .left2{
    transition: 0.6s ease-in-out;
}

.right{
    position: fixed;
    right: 3%;
    width: max-content;
}

.swingleft{
    translate: -200% 0%;
    filter: blur(5em);
}

.swingright{
    translate: 200% 0%;
    filter: blur(5em);
}



/**************************/
/* PORTFOLIO WORK PIECES */
/************************/

section:nth-of-type(2){
    margin: var(--spacer-xl) 3em;
    position: relative;
}

/* Hide title*/
section:nth-of-type(2) > h2{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Containing all the pieces of 1 project */

section:nth-of-type(2) section a{
    overflow: hidden;
    position: relative;
    width: max-content;
    display: inline-block;
	animation: float 3s ease-in-out infinite;
    margin-top: -15em;
    border-radius: 2em;
}

section:nth-of-type(2) section:first-of-type a{
    margin-top: -10em;
}


/* container for the image */
section:nth-of-type(2) section a div:first-of-type{
    position: relative;
    background-color: #171614;
    border-radius: 2em;
    width: 45vw;
    height: 80vh;
}

section:nth-of-type(2) section a div:first-of-type img{
    border-radius: 2em;
    transition: 0.6s ease-in-out;
    width: 45vw;
    height: 80vh;
    object-fit: cover;
}

/* container for the intel inside */
section:nth-of-type(2) section a div:last-of-type{
    position: absolute;
    bottom: 0;
    padding: var(--spacer-md);
    clip-path:polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    display: inline-block;
    transition: 0.6s ease-in-out;
}

/* Inside the container with all the intel */
section:nth-of-type(2) section a div:last-of-type h3{
    margin: 0em;
    padding: 0em;
    color: #FFFBF4; 
}

section:nth-of-type(2) section a div:last-of-type h4{
    color: #FFFBF4;
    margin: 0em;
    padding: 0em;
}


section:nth-of-type(2) section a div:last-of-type label{
    color: #FFFBF4;
    background-color: var(--primary-clr);
    padding: .3em 1em;
    border-radius: 1em;
    margin-top: 1em;
    display: inline-block;
}


/* hover over section */

section:nth-of-type(2) section a:hover div:last-of-type{
    clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

section:nth-of-type(2) section a:hover div:first-of-type img{
    opacity: .2;
}


section:nth-of-type(2) section a:focus div:last-of-type{
    clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

section:nth-of-type(2) section a:focus div:first-of-type img{
    opacity: .2;
}




/* Right projects */

section:nth-of-type(2) .rightProject{
    width: calc(100vw - 6em);
    display: flex;
    justify-content: end;
    margin: 0em;
}

section:nth-of-type(2) .rightProject a, section:nth-of-type(2) .rightProject img{
    width: max-content;
}

section:nth-of-type(2) .rightProject a{
    width: max-content;
}



/* Button to all projects */
section:nth-of-type(2) div{
    display: flex;
    justify-content: center;
    margin-top: var(--spacer-md);
}

section:nth-of-type(2) div .bordera{
    width: max-content;
    border-color: var(--txt-clr);
}

section:nth-of-type(2) div .bordera:hover{
    border-color: var(--txt-clr);
    margin-bottom: 2em;
}

section:nth-of-type(2) div .bordera a{
    background-color: var(--txt-clr);
    color: var(--bg-color);
}



section:nth-of-type(2) div .bordera a img{
    width: 12%;
    mix-blend-mode: difference;
}






/* Intersection observer */

.hidden {
    opacity: 0;
    transform: translateX(0em) scale(0);
    transition: opacity .5s ease-in-out, transform 1s ease-in-out, filter 1s ease-in-out;
    filter: blur(5em);
}

.visible {
    opacity: 1;
    transform: translateX(0em) scale(1);
    filter: blur(0);
}



@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}



/**************************/
/* ABOUT ME INSIDE INDEX */
/************************/

main > section:nth-of-type(3){
    display: flex;
    justify-content: center;
}


main > section:nth-of-type(3) > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
    background-color: var(--txt-clr);
    padding: var(--spacer-lg);
    border-radius: 2em;
}

main > section:nth-of-type(3) > div h2{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main > section:nth-of-type(3) > div img{
    width: 10em;
    margin-right: var(--spacer-md);
    border-radius: 100%;
}


main > section:nth-of-type(3) > div > div h3{
    font-size: var(--fs-5);
    margin: 0em;
    color: var(--bg-color);
}

main > section:nth-of-type(3) > div > div p{
    color: var(--bg-color);
    font-weight: var(--fw-t);
}

main > section:nth-of-type(3) > div > div .bordera{
    width: max-content;
    border-color: var(--bg-color);
}

main > section:nth-of-type(3) > div > div .bordera a{
    background-color: var(--bg-color);
    color: var(--txt-clr);
}

main > section:nth-of-type(3) > div > div .bordera a img{
    width: 1.7em;
    margin-right: -0.1em;
    mix-blend-mode: difference;
    transition: 0.3s ease-in-out;
}

main > section:nth-of-type(3) > div > div .bordera a:hover img{
    transform: rotate(20deg);
}






/*******************/
/* MEDIA QUERIES */
/*****************/


/* FOR TOUCHSCREEN */

@media (hover: none) {
    section:nth-of-type(2) section a div:last-of-type{
        position: absolute;
        bottom: 0;
        padding: var(--spacer-md);
        clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        display: inline-block;
        transition: 0.6s ease-in-out;
        background: linear-gradient(0deg, #171614 0%, rgba(0,0,0,0) 100%); 
    }
    
}



/* MIN WIDTH: 1600PX */

@media only screen and (min-width: 1600px) {
    section:first-of-type h2{
        font-size: clamp(4rem, 1.4286rem + 11.4286vw, 10rem);    
        margin: 0em 0em 0.2em 0em;
        width: 20%;
    }
}



/* MIN WIDTH: 1100PX */


@media only screen and (max-width: 1100px) {
    section:first-of-type > section h3{
        margin-bottom: 7em;
    }

    section:nth-of-type(2) section a div:first-of-type {
        width: 43vw;
        height: 80vh;
      }

    section:nth-of-type(2) section a div:first-of-type img {
        width: 43vw;
        height: 80vh;
      }


      section:nth-of-type(2) section a div:last-of-type h3{
        font-size: var(--fs-4);
    }
    
    section:nth-of-type(2) section a div:last-of-type h4{
        font-size: var(--fs-5);

    }
    
    
    section:nth-of-type(2) section a div:last-of-type label{
        font-size: 1em;
    }

    main > section:nth-of-type(3) > div{
        width: 90.5vw;
    }
}


/* MAX WIDTH: 900PX */

@media only screen and (max-width: 900px) {
    section:nth-of-type(2){
        margin: var(--spacer-xl) 1em;
    }

    .bottom{
        left: 1em;
        right: 1em;
    }

    main > img{
        height: 70vh;
        top: 40%;
    }

    .scrollbrain{
        height: 70vh;
        top: 60%;
        left: 55%;
    }

    section:nth-of-type(2) .rightProject {
        width: calc(100vw - 3em);
      }

    section:nth-of-type(2) section a div:first-of-type {
        width: 45vw;
        height: 80vh;
      }

    section:nth-of-type(2) section a div:first-of-type img {
        width: 45vw;
        height: 80vh;
      }

    main > section:nth-of-type(3) > div{
        width: 96vw;
    }

}


/* MAX WIDTH: 750PX */


@media only screen and (max-width: 750px) {
    section:first-of-type > section ul li h3{
        font-size: var(--fs-6); 
    }
    
    section:first-of-type > section h3{
        font-size: var(--fs-6); 
    }

    section:first-of-type > section h3{
        margin-bottom: 10em;
    }

    main > img{
        height: 60vh;
        top: 35%;
    }

    .scrollbrain{
        height: 60vh;
        top: 60%;
        left: 55%;

    }

    main > section:first-of-type {
        height: 100vh;
    }

    .right {
        left: 0em;
        position: absolute;
      }
      

      section:first-of-type > section h3 span:nth-of-type(1), section:first-of-type > section h3 span:nth-of-type(3) {
        text-align: left;
      }


    section:nth-of-type(2) section a div:first-of-type {
        width: 92vw;
        height: 50vh;
      }

    section:nth-of-type(2) section a div:first-of-type img {
        width: 92vw;
        height: 50vh;
      }

     section:nth-of-type(2) section a{
        margin-top: var(--spacer);
    }

    section:nth-of-type(2) .rightProject {
        width: calc(100vw - 1.9em);
      }


    section:nth-of-type(2) section a div:last-of-type label{
        display: none;
    }

}


/* MAX WIDTH: 650PX */

@media only screen and (max-width: 650px) {
    main > section:nth-of-type(3) > div{
        width: 95vw;
        flex-direction: column;
    }

    main > section:nth-of-type(3) > div > img{
        margin-bottom: var(--spacer-md);
    }

}



/* MAX WIDTH: 600PX */

@media only screen and (max-width: 600px) {
    main > img{
        height: 45vh;
        top: 30%;
    }

    .scrollbrain{
        height: 45vh;
        top: 60%;
    }

    section:first-of-type > section h3{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


/* MAX WIDTH: 450PX */

@media only screen and (max-width: 450px) {
    main > img{
        height: 37vh;
        top: 19%;
        left: 43%;
    }

    .scrollbrain{
        height: 37vh;
        top: 55%;
        left: 28%;
    }

    main > section:nth-of-type(3) > div{
        width: 93vw;
    }
}






